.cookie-notice {
  text-align: center;
  margin: 5px;
  padding: 10px;
  background-color: #BADFF7;
  line-height: 1.5em;
  color: black;
  border: 4px solid #C02C2C;
  border-radius: 10px;

  a {
    color: #900E0E;
    text-decoration: none;

    &:hover, &:active, &:focus {
      text-decoration: underline;
    }
  }
}
