.flexbox {
  display: flex;
  justify-content: space-between;

  &.flexbox-vertical {
    flex-direction: column;
  }
  &.flexbox-wrap {
    flex-wrap: wrap;
  }

  .flex-no-shrink {
    flex-shrink: 0;
  }

  > .flex-50 {
    flex: 0.5;
  }
}
