/*
  TODO tolles styling
*/
input, select,textarea {
  display:block;
  width: 180px;
  margin: 0px 0px 10px 0px;
  padding: 1px;
}
label {
  float: left;
  display: block;
  width: 140px;
  margin: 0px 5px 10px 0px;
}
button {
  display: block;
}

.error-msg {
  color: @color-danger;
}