.form {
  width: 100%;
  margin-bottom: 20px;

  .form-control {
    box-sizing: border-box;
    padding: 4px 8px;
    display: block;
    width: 100%;
    max-width: 100%;
    background: mix(@bg-color, white, 5%) none;
    color: @bg-color;
    line-height: @line-height-base;
    height: @line-height-computed + 2 * 4px;
    border: 1px solid fade(@bg-color, 50%);
    margin: 3px 0;
  }

  .form-control, .form-checkbox {
    outline: none;

    &.ng-invalid {
      border-color: @color-danger;
      box-shadow: 0 0 2px 1px @color-danger;
      background-color: mix(@color-danger, white, 15%);
    }

    &:focus {
      border-color: @color-info;
      box-shadow: 0 0 2px 2px @color-info;
    }
  }

  textarea.form-control {
    height: @line-height-computed * 2 + 2 * 4px;
  }

  .control-label {
    display: block;
    font-weight: bold;
    margin-top: 6px;
    color: mix(@text-color, @color-info, 90%);

    > input[type="checkbox"], > input[type="radio"] {
      position: relative;
      top: 2px;
    }
  }

  .form-btn {
    @form-button-color-light: mix(@bg-color, @text-color, 60%);
    @form-button-color-dark: mix(@bg-color, @text-color, 80%);
    box-sizing: border-box;
    text-decoration: none;
    padding: 4px 10px;
    height: @line-height-computed + 2 * 4px;
    display: block;
    width: 100%;
    margin: 6px 0;
    outline: none;
    cursor: pointer;
    color: @text-color;
    background: @form-button-color-light linear-gradient(to bottom, @form-button-color-light, @form-button-color-dark);
    border: 1px outset @form-button-color-light;
    text-shadow: 1px 1px black;
    font-weight: bold;

    &:focus {
      border-color: @color-info;
      box-shadow: 0 0 2px 2px @color-info;
    }

    &:hover, &:active {
      background: @form-button-color-dark linear-gradient(to bottom, @form-button-color-dark, @form-button-color-light);
      padding: 5px 9px 3px 11px;
      border: 1px inset @form-button-color-light;
    }

    &:disabled {
      @form-button-color-light: mix(@bg-color, @text-color, 60%);
      @form-button-color-dark: mix(@bg-color, @text-color, 70%);
      background: @form-button-color-light linear-gradient(to bottom, @form-button-color-light, @form-button-color-dark);
      border: 1px outset @form-button-color-light;
      padding: 5px 10px;
      cursor: not-allowed;
      color: fade(darken(@text-color, 20%), 80%);
      text-shadow: none;
    }
  }

  .error-msg {
    color: @color-danger;
  }
}
