@import "links";
@import "text";
@import "align";
@import "form";
@import "navigation";
@import "language_selector";

body {
  overflow-y: scroll;
  color: @text-color;
  background-color: @bg-color;
  margin:0;
}

#container {
  padding: 10px;
}

ul {
  list-style: none;
}

ol.noNumbers {
  list-style: none;
}
