@import "links";
@import "breadcrumb";
@import "text";
@import "cookieNotice";
@import "container";
@import "flex";
@import "footer";
@import "news";
@import "print";
@import "listGroup";
@import "form";
@import "navigation";
@import "spacing";
@import "stats";
@import "table";
@import "width";
@import "404";
@import "views/home";

body {
  overflow-y: scroll;
  color: @text-color;
  background-color: @bg-color;
  margin: 0;
  font-family: @font-family-base;
  font-size: @font-size-base;
}

#view {
  padding: 10px;
  margin-bottom: @line-height-computed + @footer-padding * 2 + @footer-border-top-height;

  > *:first-child, > article:first-child > *:first-child {
    margin-top: 0;
  }
}

ul, ol {
  &.no-style {
    list-style: none;
  }
}

h1 {
  font-size: 2em;
}

hr {
  border-color: fade(mix(@text-color, @color-primary, 80%), 20%);
  border-top-color: fade(mix(@text-color, @color-primary, 10%), 20%);
}

p {
  text-align: justify;
}
