.text-bold {
  font-weight: bold;
}

.text-italic {
  font-style: italic;
}

.text-mono {
  font-family: @font-family-monospace;
}

.text-muted {
  color: @text-muted;
}

.text-warning {
  color: @color-warning;
}

.text-upper {
  text-transform: uppercase;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}
