<div class="contract-header print-hide flexbox">
    <div class="width-80 text-mono">
        <button type="button" class="form-btn" ng-click="hide = !hide;"><i
                class="fa fa-fw" ng-class="'fa-caret-' + (hide ? 'down' : 'up')"></i></button>
        <a ng-href="/games/{{contract.game._id}}" ng-bind="contract.game.name"></a>
        - {{'contract.header' | translate:{ring: contract.ring} }}
    </div>
    <div class="width-20 text-right" ng-if="!contract.game.active">
        <i class="fa fa-fw fa-pause text-warning" title="{{'game.paused' | translate}}"></i>
    </div>
    <div class="width-20" ng-if="contract.game.active">
        <button type="button" class="form-btn form-btn-block form-btn-primary" ng-click="attemptTokenKill()">
            <i class="fa fa-fw fa-check"></i> {{'contract.accomplished' | translate}}
        </button>
    </div>
</div>

<div ng-if="!hide && printLayout" class="print-page">
    <div class="contract-target">
        <h3 ng-bind-html="'contract.title' | translate:project | html"></h3>

        <h1 class="wanted">
            <i class="fa fa-fw fa-crosshairs"></i>
            {{'contract.wanted' | translate | uppercase}}
            <i class="fa fa-fw fa-crosshairs"></i>
        </h1>

        <h2 data-user-id="{{contract.details.target._id}}">
            <span class="target" ng-bind="contract.details.target.name"></span>
        </h2>
        <!--suppress HtmlUnknownTarget -->
        <img class="portrait" src="/img/pirate_draft.png" alt="image"/>

        <div class="message">
            <div ng-if="contract.details.target.message">
                <i class="fa fa-fw fa-angle-double-right"></i>
                {{contract.details.target.message}}
                <i class="fa fa-fw fa-angle-double-left"></i>
            </div>
            <div ng-if="!contract.details.target.message"><i class="fa fa-fw fa-ellipsis-h"></i></div>
        </div>

        <div class="flexbox">
            <div class="flex-50 text-mono">{{contract.game.name}} - {{'game.ring' | translate}} #{{contract.ring}}</div>

            <div class="flex-50">
                <label translate>contract.token.description</label><br/>
                &dagger;<strong class="text-mono token token-hover" ng-bind="contract.details.token"></strong>&dagger;
            </div>
        </div>
    </div>

    <div class="contract-public">
        <div class="flexbox flexbox-vertical">
            <div class="flexbox">
                <div class="flex-50 flexbox flexbox-vertical">
                    <div>
                        <h3 translate>contract.recipient</h3>

                        <h2><span class="recipient">
                            <span ng-if="contract.game.multiGroup">{{alias.group.name}} &ndash;</span>
                            <span ng-bind="alias.name"></span>
                        </span></h2>

                        <h4 class="text-mono">
                            {{contract.game.name}} - {{'game.ring' | translate}} #{{contract.ring}}
                        </h4>

                        <small class="text-mono">
                            {{'contract.end' | translate}} <span moment="contract.game.schedule.end"></span>
                        </small>
                    </div>
                </div>

                <div class="flex-50">
                    <!--suppress HtmlUnknownTarget -->
                    <img src="/logo_credits.svg" alt="murderer.js" class="cover"/>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="contract-compact" ng-if="!hide && !printLayout">
    <div class="print-block hidden">
        <div class="flexbox">
            <div class="flex-50 text-right" translate>game.title.one</div>
            <div class="flex-50 text-left text-mono">
                <span class="target" ng-bind="contract.game.name"></span>
            </div>
        </div>
        <div class="flexbox">
            <!-- TODO move ring-related translations into ring.json -->
            <div class="flex-50 text-right" translate>game.ring</div>
            <div class="flex-50 text-left text-mono">
                <span class="target">#{{contract.ring}}</span>
            </div>
        </div>
    </div>
    <div class="flexbox">
        <div class="flex-50 text-right" translate>contract.wanted</div>
        <div class="flex-50 text-left" data-user-id="{{contract.details.target._id}}">
            <span class="target" ng-bind="contract.details.target.name"></span>
        </div>
    </div>
    <div class="flexbox">
        <div class="flex-50 text-right" translate>contract.message</div>
        <div class="flex-50 text-left">
            <span class="target" ng-bind="contract.details.target.message"></span>
        </div>
    </div>
    <div class="flexbox">
        <div class="flex-50 text-right" translate>contract.token.title</div>
        <div class="flex-50 text-left text-mono token-hover">
            <span class="target" ng-bind="contract.details.token"></span>
        </div>
    </div>
</div>

<div class="contract-footer print-hide"></div>
