<div class="container flexbox">
    <div class="flex-no-shrink">&copy; 2015 Ole Reglitzki</div>
    <div id="footer-navigation">
        <a href="/terms" translate>footer.terms</a>
        |
        <a href="/policy" translate>footer.policy</a>
        |
        <a href="/disclaimer" translate>footer.disclaimer</a>
    </div>
    <div class="flex-no-shrink">
        <i class="fa fa-github"></i>
        Source Code on <a href="https://github.com/frissdiegurke/murderer.js" class="no-decoration">GitHub</a>
    </div>
</div>
