<h2 translate>game.news.title</h2>

<ol id="news-container" class="list-group list-group-spaced">
    <li class="list-group-item" ng-repeat="x in news" ng-init="important = x.type === 'ADMIN' || x.type === 'SERVER'"
        ng-class="{'list-group-item-danger': important, 'news-sticky': important}">
        <div class="list-group-header news-header" ng-switch="x.type">
            <div class="pull-right date" moment="x.date"></div>
            <i ng-if="important" class="fa fa-fw fa-thumb-tack"></i>
            <span ng-switch-when="KILL" ng-bind-html="'news.kill' | translate:x.data | html"></span>
            <span ng-switch-when="SUICIDE" ng-bind-html="'news.suicide' | translate:x.data | html"></span>
            <span ng-switch-when="ADMIN" ng-bind-html="'news.admin' | translate:x.data | html"></span>
            <span ng-switch-when="SERVER" ng-bind-html="'news.server' | translate:x.data | html"></span>
            <span ng-switch-default ng-bind="x.type"></span>
        </div>
        <div ng-if="x.data.message" class="news-message" ng-class="'news-' + x.type.toLowerCase()">
            <i class="fa fa-fw fa-angle-double-right"></i>
            <span class="text-italic" ng-bind="x.data.message"></span>
        </div>
    </li>
</ol>

<h2 translate>game.stats</h2>
<ol>
    <!-- TODO show highscore -->
    <li>Gurke42 1 Morde</li>
</ol>
Insgesamt 3 Tote