<h1>Cookie-Richtlinie</h1>

<p>
    In dieser Richtlinie verwenden wir den Begriff “Cookies” für Cookies und andere ähnliche Technologien, die von der
    EU-Richtlinie über die Verarbeitung personenbezogener Daten und den Schutz der Privatsphäre in der elektronischen
    Kommunikation erfasst werden.
</p>

<h2>Was sind Cookies?</h2>

<p>
    Cookies sind kleine Textdateien, die von der besuchten Website erzeugt werden und Daten enthalten. Sie werden auf
    dem Computer des Besuchers gespeichert, um dem Benutzer Zugang zu verschiedenen Funktionen zu bieten. Auf unseren
    Websites werden sowohl Session Cookies als auch dauerhafte Cookies verwendet. Ein Session Cookie wird vorübergehend
    auf dem Computer gespeichert, während der Besucher durch die Website navigiert. Dieses Cookie wird gelöscht, wenn
    der Benutzer seinen Internet-Browser schließt oder nach Ablauf einer bestimmten Zeit (d. h., wenn die Session
    abläuft). Ein dauerhaftes Cookie bleibt auf dem Computer des Besuchers, bis es gelöscht wird.
</p>

<h2>Wie setzen wir Cookies ein?</h2>

<p>
    Auf unseren Seiten verwenden wir Cookies zur Speicherung
</p>

<ul>
    <li>Ihrer gewählten Sprachoption.</li>
    <li>Ihrer Entscheidung zur Nutzung von Cookies auf diesem Portal.</li>
</ul>

<p>
    Die mithilfe von Cookies erhobenen Informationen werden nicht dazu genutzt, Sie zu identifizieren, und die Daten
    unterliegen vollständig unserer Kontrolle. Die Cookies dienen keinen anderen Zwecken als den hier genannten.
    Wir verwenden Cookies grundsätzlich nicht zur Sammlung personenbezogener Informationen über einen Besucher.
</p>

<h2>Bearbeiten con Cookies</h2>

<p>
    Falls Sie es wünschen, können Sie durch Änderung Ihrer Browser-Einstellungen die Cookies nach Belieben steuern
    und/oder löschen. Wie, erfahren Sie hier: <a href="http://aboutcookies.org">aboutcookies.org</a>. Sie können alle
    auf Ihrem Rechner abgelegten Cookies löschen und die meisten Browser so einstellen, dass die Ablage von Cookies
    verhindert wird. Dann müssen Sie aber möglicherweise einige Einstellungen bei jedem Besuch einer Seite manuell
    vornehmen und die Beeinträchtigung mancher Funktionen in Kauf nehmen.
</p>
