<h1>Spiel 1</h1>
<div class="left">
    <h3 translate>game.news.title</h3>
    <!-- TODO newsticker -->
    <ol class="noNumbers">
        <li ng-repeat="x in [{type: 'KILL', data: {murderer: 'Gurke42', victim: 'Ente1337', message: 'Mit einem 1000 Tonnen Thunfisch erschlagen'}}]" ng-switch="x.type">
            <h3 ng-switch-when="KILL" data-translate-values="x.data" translate>game.news.kill</h3>
            <div ng-if="x.data.message" class="news-message">
                <i class="fa fa-fw fa-quote-left"></i>
                <span class="text-italic" ng-bind="x.data.message"></span>
                <i class="fa fa-fw fa-quote-right"></i>
            </div>
        </li>
    </ol>
    <h3 translate>game.stats</h3>
    <ol> <!-- TODO generate highscore list -->
        <li>Gurke42 1 Morde</li>
    </ol>
    Insgesamt 3 Tote
</div>
<div class="right">
    <h3 translate>game.newKill</h3>
    <label class="input-group-addon" for="code" translate>game.code</label>
    <input type="text" class="form-control" id="code" placeholder="" />
    <label class="input-group-addon" for="message" translate>game.message</label>
    <textarea class="form-control" id="message">Mit einem 1000 Tonnen Thunfisch erschlagen</textarea>
    <label for="listIndex" translate>game.listIndex</label>
    <!-- TODO get data from server -->
    <select id="listIndex">
        <option>1</option>
        <option>2</option>
        <option>3</option>
    </select>
    <button class="btn btn-default" translate>game.post</button>
    <hr />
    <h3 translate>game.leave</h3>
    <label for="user" class="input-group-addon" translate>game.user</label>
    <input type="text" class="form-control" id="user" />
    <label for="pw" class="input-group-addon" translate>game.pw</label>
    <input type="text" class="form-control" id="pw" />
    <button class="" translate>game.suicide</button>
</div>
