<article id="impress">
    <h1 translate>legalInfo.title</h1>
    <h2 translate>legalInfo.paragraph</h2>
    <p>
        {{config.provider.name}}<br/>
        {{config.provider.address}}
    </p>

    <h2 translate>legalInfo.contact</h2>
    <table>
        <tbody>
        <tr>
            <td translate>legalInfo.phone</td>
            <td ng-bind="config.provider.phone"></td>
        </tr>
        <tr>
            <td translate>legalInfo.email</td>
            <td ng-bind="config.provider.email"></td>
        </tr>
        </tbody>
    </table>
</article>
