<div class="left">
    <h3>Du willst mitspielen?</h3>
    Blaa mitspielen. Alle daten werden nach dem spiel wieder gelöscht. nianiania.
    <h4 translate>register.games</h4>
    <ul>
        <li>Spiel 1</li>
    </ul>
</div>
<div class="right">
    <h4 translate>register.enterGame</h4>
    <label for="gameid" translate>register.selectGame</label>
    <select id="gameid">
        <option>Spiel 1</option>
    </select>
    <label class="" for="name" translate>register.name</label>
    <input type="text" class="" id="name" placeholder="" />
    <!-- TODO get data from server-->
    <label for="group" translate>register.selectGroup</label>
    <select id="group" data-ng-model="selectedGroup" ng-options="group.name for group in groups">
        <option value="" translate>register.selectGroup</option>
    </select>
    <label for="email" translate>register.email</label>
    <input type="text" id="email" placeholder="" />
    <label for="pw" translate>register.pw</label>
    <input type="text" id="pw" placeholder="Mb2.r5oHf-0t" />
    <label for="text" translate>register.message</label>
    <textarea id="text"></textarea>
    <button translate>register.register</button>
</div>