<style type="text/css" media="print">
    body {
        background-color: white;
    }

    nav, #language-selector, #identity, .hide-print, .breadcrumb {
        display: none;
    }

    #container {
        padding: 0;
    }
</style>

<form class="hide-print form-horizontal">
    <label for="filter-ring" class="control-label" translate>contract.filter.ring</label>
    <input id="filter-ring" name="ring" class="form-control" type="number" ng-model="filter.ring" min="0"
           max="{{game.rings - 1}}" placeholder="{{'contract.filter.noRing' | translate}}"/>
    <label for="filter-group" class="control-label" translate>contract.filter.group</label>
    <select id="filter-group" name="group" class="form-control" data-ng-model="filter.group"
            ng-options="group.name as group.string for group in groups track by group.name">
        <option value="" translate>contract.filter.noGroup</option>
    </select>
    <label for="filter-mission" class="control-label" translate>contract.filter.mission</label>
    <select id="filter-mission" name="mission" class="form-control" data-ng-model="filter.mission"
            ng-options="p.usernameLower as p.usernameLower.toUpperCase() for p in allParticipants track by p._id">
        <option value="" translate>contract.filter.noParticipant</option>
    </select>
    <label for="filter-murderer" class="control-label" translate>contract.filter.murderer</label>
    <select id="filter-murderer" name="murderer" class="form-control" data-ng-model="filter.murderer"
            ng-options="p.usernameLower as p.usernameLower.toUpperCase() for p in participants track by p._id">
        <option value="" translate>contract.filter.noParticipant</option>
    </select>
</form>

<div id="contract-container">
    <div ng-repeat="res in resolved" data-ring-index="{{res.ring}}" class="hide-print">
        <div class="no-contract">
            <div ng-if="!res.survivor" class="resolved">
                <span>&dagger;</span>
                <span ng-bind-html="'contract.allDead' | translate:{ring:res.ring, game:game.name} | html"></span>
                <span>&dagger;</span>
            </div>
            <div ng-if="res.survivor" class="resolved">
                <i class="fa fa-fw fa-user-secret"></i>
                <span ng-bind-html="'contract.resolved' | translate:{ring:res.ring, game:game.name, survivor:res.survivor} | html"></span>
                <i class="fa fa-fw fa-user-secret"></i>
            </div>
        </div>
    </div>

    <div ng-repeat="contract in contracts" data-ring-index="{{contract.ring}}">
        <div contract="contract" data-murderer="contract.murderer" data-game="game"></div>
    </div>
</div>
