<h2 ng-bind="game.name"></h2>

<a ng-href="/acp/games/{{game._id}}/contracts">
    <i class="fa fa-fw fa-book"></i>
    {{'game.contracts.list' | translate}}
</a>

<div ng-repeat="ring in game.rings" class="ring-details">
    <h3 class="text-mono">{{'game.ring' | translate}} #{{$index}}</h3>

    <div class="game-ring-preview-active">
        <div ng-repeat="a in ring.active" ng-init="user = users[a.user]">
            <div class="active-user" data-user-id="{{user._id}}" data-email="{{user.email}}">
                <a ng-click="triggerSuicide(user._id)"><i class="fa fa-fw fa-bomb"></i></a> {{user.username}}<br/>
                <a ng-click="triggerActiveToken(a.token, ring.active, $index)"><i class="fa fa-fw fa-gavel"></i></a>
                <span class="text-mono" ng-bind="a.token"></span>
            </div>
            <div class="inactive-user" ng-repeat="i in ring.inactiveByUser[user._id]"
                 ng-init="inactiveUser = users[i.victim]" data-user-id="{{inactiveUser._id}}"
                 data-email="{{inactiveUser.email}}">
                {{inactiveUser.username}}<br/>
                <a ng-click="triggerToken(i.token, i.murderer)"><i class="fa fa-fw fa-gavel"></i></a>
                <span class="text-mono" ng-bind="i.token"></span>
            </div>
        </div>
    </div>

    <div class="clearfix"></div>
    <br/>

    <div class="game-ring-preview-kills">
        <div ng-repeat="kill in ring.kills | orderBy:'entryDate'" data-token="{{kill.token}}"
             title="{{kill.entryDate}}">
            <div class="active-user" data-user-id="{{kill.murderer}}" data-email="{{users[kill.murderer].email}}"
                 ng-bind="users[kill.murderer].username || '&dagger;'"></div>
            <div class="inactive-user" data-user-id="{{kill.victim}}" data-email="{{users[kill.victim].email}}"
                 ng-bind="users[kill.victim].username"></div>
        </div>
    </div>

    <div class="clearfix"></div>
</div>
