<article id="login" class="flexbox">

    <!-- TODO send requests via AJAX for better error handling -->

    <form name="loginForm" class="login form flex-50" action="/login" method="post">
        <h2 translate>login.title</h2>

        <label for="username" class="control-label" translate>credentials.username</label>
        <input type="text" class="form-control" id="username" name="username" ng-model="credentials.username"
               ng-minlength="3" required/>

        <label for="password" class="control-label" translate>credentials.password</label>
        <input type="password" class="form-control" id="password" name="password" ng-model="credentials.password"
               ng-minlength="4" required/><br/>

        <!-- TODO show validation errors -->

        <input type="submit" class="form-btn" ng-value="'credentials.login' | translate"
               ng-disabled="loginForm.$invalid"/>

        <!-- TODO replace with all known errors explicitly -->
        <div class="error-msg form-info" ng-if="error" translate>credentials.loginFailed</div>

    </form>

    <form name="registerForm" class="register form flex-50" action="/register" method="post">
        <h2 translate>register.title</h2>

        <label for="register-username" class="control-label" translate>credentials.username</label>
        <input type="text" class="form-control" id="register-username" name="username" ng-model="credentials.username"
               ng-minlength="3" ng-valid="usernameValid" required/>

        <label for="email" class="control-label" translate>credentials.email</label>
        <input type="email" class="form-control" id="email" name="email" ng-model="credentials.email" required/>

        <label for="register-password" class="control-label" translate>credentials.password</label>
        <input type="password" class="form-control" id="register-password" name="password"
               placeholder="&bull;&bull;&bull;&bull;&bull;&bull;" ng-model="credentials.password" ng-minlength="4"
               required/>

        <label for="password-confirm" class="control-label" translate>credentials.passwordConfirm</label>
        <input type="password" class="form-control" id="password-confirm" name="passwordConfirm"
               placeholder="&bull;&bull;&bull;&bull;&bull;&bull;" ng-model="credentials.passwordConfirm"
               ng-valid="passwordConfirmValid" required/>

        <label class="control-label">
            <input type="checkbox" ng-model="credentials.terms" required/>
            <span ng-bind-html="'register.terms' | translate | html"></span>
        </label>

        <div class="error-msg form-info">
            <div ng-if="registerForm.username.$error.minlength" data-translate-values="{min:3}"
                 translate>credentials.usernameMinLength
            </div>
            <div ng-if="registerForm.username.$error.bool" translate>credentials.usernameRegEx</div>
            <!-- TODO show all validation errors-->
        </div>

        <input type="submit" class="form-btn" ng-value="'credentials.register' | translate"
               ng-disabled="registerForm.$invalid"/>

        <!-- TODO replace with all known errors explicitly -->
        <div class="error-msg form-info" ng-if="error && !registerForm.$dirty" ng-bind="error"></div>

    </form>

</article>
