<article id="login" class="flexbox">

    <form name="loginForm" class="login panel form flex-50" ng-submit="login()">
        <h2 class="panel-heading text-center" translate>login.title</h2>

        <label for="username" class="control-label" translate>credentials.username</label>
        <input type="text" class="form-control" id="username" name="username" ng-model="credentials.username"
               ng-valid="usernameValid" required/>

        <label for="password" class="control-label" translate>credentials.password</label>
        <input type="password" class="form-control" id="password" name="password" ng-model="credentials.password"
               ng-minlength="passwordMinLength" required/><br/>

        <input type="submit" class="form-btn form-btn-block" ng-value="'credentials.login' | translate"
               ng-disabled="loginForm.$invalid"/>

        <div ng-if="loading" class="text-center">
            <i class="fa fa-fw fa-spin fa-spinner"></i>
        </div>

        <div class="error-msg form-info" ng-if="error" ng-switch="error.status">
            <div ng-switch-when="401" translate>login.error.wrongData</div>
            <div ng-switch-when="429" translate>login.error.delay</div>
            <div ng-switch-default translate>login.error.other</div>
        </div>

        <!-- TODO password recovery -->

    </form>

    <form name="registerForm" class="register panel form flex-50" ng-submit="register()">
        <h2 class="panel-heading text-center" translate>register.title</h2>

        <label for="register-username" class="control-label" translate>credentials.username</label>
        <input type="text" class="form-control" id="register-username" name="username" ng-model="credentials.username"
               ng-minlength="usernameMinLength" ng-valid="{form: usernameValid, notTaken: !usernameTaken}" required/>

        <label for="email" class="control-label" translate>credentials.email</label>
        <input type="email" class="form-control" id="email" name="email" ng-model="credentials.email"
               ng-valid="{notTaken: !emailTaken}" required/>

        <label for="register-password" class="control-label" translate>credentials.password</label>
        <input type="password" class="form-control" id="register-password" name="password"
               placeholder="&bull;&bull;&bull;&bull;&bull;&bull;" ng-model="credentials.password"
               ng-minlength="passwordMinLength" required/>

        <label for="password-confirm" class="control-label" translate>credentials.passwordConfirm</label>
        <input type="password" class="form-control" id="password-confirm" name="passwordConfirm"
               placeholder="&bull;&bull;&bull;&bull;&bull;&bull;" ng-model="passwordConfirm"
               ng-valid="{matches: passwordConfirmMatches, length: passwordConfirmLength}" required/>

        <label class="control-label">
            <input type="checkbox" class="form-checkbox" ng-model="credentials.terms" required/>
            <span ng-bind-html="'register.terms' | translate | html"></span>
        </label>

        <div class="error-msg form-info">
            <!-- username -->
            <div ng-if="registerForm.username.$dirty">
                <div ng-if="registerForm.username.$error.minlength" data-translate-values="{min: usernameMinLength}"
                     translate>
                    register.invalid.usernameMinLength
                </div>
                <div ng-if="!registerForm.username.$error.minlength && !registerForm.username.$error.required">
                    <div ng-if="registerForm.username.$error.form" translate>register.invalid.usernameForm</div>
                    <div ng-if="!registerForm.username.$error.form && registerForm.username.$error.notTaken" translate>
                        register.invalid.usernameTaken
                    </div>
                </div>
            </div>
            <!-- email -->
            <div ng-if="registerForm.email.$dirty">
                <div ng-if="registerForm.email.$error.email" translate>register.invalid.emailForm</div>
                <div ng-if="!registerForm.email.$error.email && registerForm.email.$error.notTaken" translate>
                    register.invalid.emailTaken
                </div>
            </div>
            <!-- password -->
            <div ng-if="registerForm.password.$dirty">
                <div ng-if="registerForm.password.$error.minlength" data-translate-values="{min: passwordMinLength}"
                     translate>
                    register.invalid.passwordMinLength
                </div>
            </div>
            <div ng-if="registerForm.passwordConfirm.$dirty">
                <div ng-if="!registerForm.passwordConfirm.$error.length && registerForm.passwordConfirm.$error.matches"
                     translate>
                    register.invalid.passwordsMatch
                </div>
            </div>
        </div>

        <input type="submit" class="form-btn form-btn-block" ng-value="'credentials.register' | translate"
               ng-disabled="registerForm.$invalid"/>

        <div class="error-msg form-info" ng-if="error" ng-switch="error.status">
            <div ng-switch-when="429" translate>register.error.delay</div>
            <div ng-switch-default translate>register.error.other</div>
        </div>

    </form>

</article>
