<div class="flexbox">
    <div class="left">
        <h3>Du willst mitspielen?</h3>
        Blaa mitspielen. Alle daten werden nach dem spiel wieder gelöscht. nianiania.
        <h4 translate>register.games</h4>
        <ul>
            <li>Spiel 1</li>
        </ul>
    </div>
    <div class="right">
        <h4 translate>register.enterGame</h4>

        <form name="registerForm" class="form-horizontal" action="/register" method="post">
            <label for="username" class="control-label" translate>credentials.username</label>
            <input type="text" class="form-control" id="username" name="username" ng-model="credentials.username"
                   ng-minlength="3" ng-valid="usernameValid" required/>

            <div class="error-msg form-info">
                <div ng-if="registerForm.username.$error.minlength" data-translate-values="{min:4}"
                     translate>credentials.usernameMinLength
                </div>
                <div ng-if="registerForm.username.$error.bool" translate>credentials.usernameRegEx</div>
            </div>

            <label for="group" class="control-label" translate>credentials.group</label>
            <select id="group" name="group" class="form-control" data-ng-model="credentials.group"
                    ng-options="group.name as group.string for group in groups track by group.name" required>
                <option value="" translate>register.selectGroup</option>
            </select>
            <label for="email" class="control-label" translate>credentials.email</label>
            <input type="email" class="form-control" id="email" name="email" ng-model="credentials.email" required/>
            <label for="message" class="control-label" translate>credentials.message</label>
            <textarea id="message" class="form-control" name="message" data-2ng-model="credentials.profileMessage"
                      ng-maxlength="256"></textarea>
            <label for="password" class="control-label" translate>credentials.password</label>
            <input type="password" class="form-control" id="password" placeholder="Mb2.r5oHf-0t" name="password"
                   ng-model="credentials.password" ng-minlength="4" required/>
            <label for="password-confirm" class="control-label" translate>credentials.passwordConfirm</label>
            <input type="password" class="form-control" id="password-confirm" placeholder="Mb2.r5oHf-0t"
                   name="passwordConfirm" ng-model="credentials.passwordConfirm" ng-valid="passwordConfirmValid"
                   required/>
            <input type="submit" class="form-btn" ng-value="'credentials.register' | translate"
                   ng-disabled="registerForm.$invalid"/>

            <div class="error-msg form-info" ng-if="error && !registerForm.$dirty" ng-bind="error"></div>
        </form>
    </div>
</div>