ol.breadcrumb {
  display: block;
  list-style: none;
  background-color: fade(@text-color, 10%);
  padding: 5px 7px;
  margin-top: 0;

  > li {
    display: inline-block;
    padding: 0;

    &:before {
      content: "/";
      margin: 0 5px 0 8px;
      color: fade(@text-color, 45%);
    }
    &:first-child:before {
      display: none;
    }

    &.active {
      color: fade(mix(@text-color, @color-primary, 85%), 80%);
    }

    > a {
      text-decoration: none;
    }
  }
}
