// TODO add print-paper-border-{top,bottom,left,right} variables and use within calculations

.contract {
  text-align: center;
  margin: 0 auto 5px; // 5px margin within print-view (compact-mode)
  &.contract-print-layout {
    margin-bottom: 0;
  }

  @cover-size: @print-paper-height / 3 - 2cm;

  .colorize(@color) {
    background-color: fade(@color, 15%);

    .contract-header {
      background-color: fade(@color, 35%);
      border-top: 4px solid fade(@color, 30%);
      border-bottom: 4px solid fade(@color, 30%);
    }

    .contract-footer {
      background-color: fade(@color, 35%);
      border-top: 4px solid fade(@color, 30%);
    }

    .contract-compact {
      background-color: fade(@color, 12%);
    }
  }

  .colorize(mix(@bg-color, @color-success, 40%));

  .game-contracts.inactive & {
    .colorize(mix(@bg-color, @color-info, 40%));
  }

  .print-page {
    page-break-after: always;
  }

  .contract-header {
    @header-padding: 5px;
    text-align: left;
    margin: 0;
    padding: @header-padding;
    font-size: 1.2rem;
    line-height: 1.2 * @line-height-computed;
    font-weight: bold;

    .contract-title {
      flex: 1;
      padding: 0 10px;
    }

    .paused {
      opacity: 0.5;
    }

    .form-btn {
      height: @line-height-computed * 1.2 + @header-padding * 2;
      flex-shrink: 0;
      flex-grow: 0;
      border: none;
      box-shadow: none;
      display: block;
      &.toggle-collapse {
        margin: -@header-padding 0 -@header-padding -@header-padding;
        font-size: 1.5rem;
        line-height: 1.5 * @line-height-computed;
        padding: 0 @header-padding;
        background: fade(@text-color, 10%);
        border-right: 1px solid fade(black, 20%);
        &:hover {
          background-color: fade(@text-color, 15%);
        }
        &:focus {
          border-right-color: fade(@color-info, 60%);
          background-color: fade(mix(@color-info, @text-color, 40%), 20%);
        }
      }
      &.accomplished {
        margin: -@header-padding -@header-padding -@header-padding 0;
        background: fade(mix(@color-primary, @text-color, 60%), 20%);
        padding: 0 8px;
        border-left: 1px solid fade(black, 15%);
        &:hover {
          background-color: fade(mix(@color-primary, @text-color, 75%), 30%);
        }
        &:focus {
          border-left-color: fade(@color-info, 60%);
          background-color: fade(@color-primary, 40%);
        }
      }

      > * {
        opacity: 0.5;
      }
      &:hover > * {
        opacity: 0.7;
      }
      &:focus > * {
        opacity: 0.8;
      }
    }

    .form-control {
      box-shadow: none;
      border: none;
      &:focus {
        box-shadow: 0 0 2px 2px @color-info;
      }
    }
  }

  .contract-footer {
    height: 4px;
    margin-bottom: 10px;
  }

  .contract-compact {
    page-break-inside: avoid;
    .flex-50 {
      padding: 3px 10px;
      border: 1px solid rgba(0, 0, 0, 0.25);
    }
  }

  .contract-target {
    height: @print-paper-height * 2 / 3 + 0.5cm; // 0.5cm is static border-compensation
    border-bottom: 0.08cm solid fade(black, 35%);

    .wanted {
      font-family: serif;
      color: black;
      font-size: 2.5rem;
      line-height: 2.5 * @line-height-computed;
    }

    .target {
      min-width: 50%;
      padding: 0.05cm 0.4cm;
      border: 0.1cm dotted fade(black, 45%);
      background-color: fade(black, 35%);
      display: inline-block;
      text-transform: uppercase;
    }

    .portrait {
      background-color: #6D6D6D;
      width: 6cm;
      border: 0.5cm double black;
      margin: 1cm auto;
      display: block;
    }

    .message {
      height: 3cm;
      font-family: serif;
      font-weight: bold;
      font-variant: small-caps;
      padding: 0 1cm;
      font-size: 1.2em;
      line-height: 1.2 * @line-height-computed;

      .fa {
        opacity: 0.6;
        color: #8A3900;
      }
    }
  }

  .recipient {
    min-width: 50%;
    padding: 0.05cm 0.4cm;
    border: 0.1cm dotted fade(black, 45%);
    background-color: fade(black, 35%);
    display: inline-block;

    > span {
      text-transform: uppercase;
    }
  }

  .token {
    font-size: 1.2rem;
    line-height: 1.2 * @line-height-computed;
    margin: 10px 20px;
    display: inline-block;
  }

  .token-hover {
    color: transparent;
    background-color: black;
    &:hover {
      color: inherit;
      background-color: inherit;
    }
  }

  .contract-public {
    height: @print-paper-height / 3 - 0.08cm - 0.5cm; // 0.5cm is static border-compensation

    .flexbox-vertical {
      height: 100%;
      justify-content: center;
    }

    > .flexbox-vertical {
      > div {
        height: @cover-size;
      }

      .cover {
        height: @cover-size;
        width: @cover-size;
      }
    }
  }
}

.game-contracts:last-child > div:last-child .contract {
  page-break-after: inherit;

  .contract-footer {
    margin-bottom: 0;
  }
}

.ring-status {
  margin: 20px auto;
  text-align: center;
  page-break-inside: avoid;

  .colorize(@color, @intensity) {
    background-color: fade(@color, @intensity);
    border: 3px solid mix(@color, black, 30%);
  }

  > div {
    padding: 10px 0;
    line-height: 1.5;

    > .fa {
      color: rgba(233, 104, 104, 0.8);

      .not-present & {
        color: rgba(0, 158, 206, 0.85);
      }

      &.fa-trophy {
        color: rgb(255, 168, 36);
      }
    }
  }

  .not-present & > div.not-resolved {
    .colorize(@color-info, 45%);
  }
  .not-present .resolved & > div.survivor {
    .colorize(@color-info, 30%);
  }
  .not-present .resolved & > div.no-survivor {
    .colorize(@color-info, 15%);
  }
  .present .resolved & > div.survived {
    .colorize(@color-success, 45%);
  }
  .present .resolved .not-survived & > div.no-survivor {
    .colorize(@color-primary, 15%);
  }
  .present .resolved .not-survived & > div.survivor {
    .colorize(@color-primary, 30%);
  }
  .present .not-resolved & > div.dead {
    .colorize(@color-primary, 45%);
  }
}

.game-contracts:first-child > div:first-child .ring-status {
  margin-top: 0;
}

.game-contracts:last-child > div:last-child .ring-status {
  margin-bottom: 0;
}
