<h2>Description</h2>

<p>
    <strong>murderer.js</strong> is a hybrid game that connects real interaction with a web-service. It works well being
    played besides other activity over some days to weeks. It is recommended for groups of ~15 to ~200
    participants.<br/>

    It's all about social interaction of the participants and fits well for getting the players to know each other.
    Hence it can be played on conferences that last several days for example (name badges are recommended if the players
    don't know each others names).
</p>

<h2>Gameplay</h2>

<p>
    All players get individual <em>Contracts of Murder</em> that they can lookup online. It's great to keep your
    contracts with you, so feel encouraged to print them. Now all players try to perform as many contracts they can
    until the game ends at a pre-defined date.
</p>

<h3>How to perform a contract?</h3>

<p>
    This is the social interactive aspect of the game. To perform a contract the <em>Murderer</em> has to pass over any
    object to the <em>Victim</em> without any <em>Witness</em> being present. The murder object has to be voluntarily
    accepted and may not be thrown. Also the murderer directly followed by the victim have to carry the <b>primary</b>
    weight of the object.<br/>

    Depending on the participating group the murderer has to find his victims first, knowing only their names.
</p>

<h3>Who counts a witness?</h3>

<p>
    Any player who is not part of the murder, but alive within the <em>Ring</em> of interest, can witness a murder and
    hence nullify it. Because of this a player first has to ensure that no witness is aware of the object handover in
    order to successfully kill his victim.
</p>

<h3>What is a ring?</h3>

<p>
    A game consists of <code>N</code> rings. Each player initially lives within <code>M</code> of those. <code>N</code>,
    <code>M</code> are set by the game master.<br/>

    Within each ring every alive player has one contract of murder for any other alive player within. It is ensured that
    every player is also target of exactly one contract of murder and all contracts form a circle.
</p>

<h3>What happens if a contract gets fulfilled?</h3>

<p>
    If a player gets killed, he asks the murderer for verification (e.g. showing the printed contract). If the murder is
    verified the victim hands over his <em>Token</em> and his target within the same ring. The token is shown on the
    contract of the victim, so the easiest way is to just hand over the printed contract. Be aware that this handover
    may also count a murder (within a different ring), but if the murderer explicitly asks for indirect handover this
    should be complied with. As soon the murderer keeps track of the murder within the web interface (aside a cause of
    death note) he also gets the online version of the new contract and can continue.<br/>

    A murder doesn't have to be entered online immediately, but if a player performs a series of murder those need to be
    entered in order. You should also be aware that a murder has to be entered before the game ends, otherwise it does
    not count.
</p>

<h3>Several days? That is a too long time!</h3>

<p>
    The players are able to commit <em>Suicide</em> at any time in order to leave a game early. This is a great gesture
    since it allows your hunters to continue with the next target. Once a suicide is committed, the hunters get notified
    via email and the updated contracts are available online.<br/>

    However if your target commits suicide after a murder but before you entered his token online, you can still do this
    and the kill counts.
</p>

<h3>How is the winner determined?</h3>

<p>
    At the end of a game the player with the most performed murders (summarized over all rings) wins. If there is not a
    single player with the most performed murders, the one with the <b>fewest</b> remaining lives (due to indication of
    more social activity) wins. In case this is tied too, the player with highest rates of his entered cause of death
    notes advances. If even this doesn't break the tie, all of them have won the game (if not stated otherwise by the
    game master).
</p>

<h2>Special rules</h2>

<ul>
    <li id="multi-kill-rule">
        If all potential witnesses become victims of the same murderer within one minute (contracts within multiple
        rings), no victim may witness any other of those murders.
    </li>
    <li id="one-at-a-time-rule">
        One handover only is able to cause one murder. If a murderer has the same target within multiple rings, the
        murders have to happen by several handovers.
    </li>
    <li id="active-witness-rule">
        A witness has to take the initiative himself to nullify a murder (by briefing the players taking part of the
        murder). Because of this the murderer has to clearly reveal that a murder has happened immediately and in
        appropriate volume. If this is not given, the murder is nullified. Once the victim directly asks any player
        whether he witnessed the murder, this player is no potential witness anymore. A player who is not aware of what
        happens, cannot witness anything.
    </li>
    <li id="murderless-zones-rule">
        If any person of authority (game master, etc.) declares a place or time to be <em>free of murder</em> (e.g.
        another game gets played that involves object handovers), no murder may be performed there.
    </li>
</ul>

<h2>Additions</h2>

<ul>
    <li>
        Toilets and showers are <b>always</b> free of murder.
    </li>
    <li>
        The game should not be taken to serious. Not accepting any objects for several days might be a way of surviving
        (not an easy one by the way), but is not as much fun as focusing on the contracts of one's own.
    </li>
    <li>
        The word <em>object</em> should not exclude human or other animate beings (as long they're treated human/animal
        friendly) being used for performing a murder.
    </li>
    <li>
        In no case withhold assistance in an emergency by refusing a handover in respect of this game. Emergencies of
        all kind are considered <em>free of murder</em> to be sure.
    </li>
</ul>
