// Dependency Integration
@fa-font-path: '/fonts';


// Main colors
@bg-color: #2F2F2F;
@color-primary: #b80a0a;
@color-danger: #c24b3d;
@color-warning: #c88230;
@color-success: #71e426;
@color-info: #128bf4;


// Navigation
@navigation-height: 50px;
@navigation-background: mix(@bg-color, @color-primary, 86%);
@navigation-border-bottom-height: 2px;
@navigation-padding: 2px;

// Footer
@footer-border-top-height: 1px;
@footer-background: @navigation-background;
@footer-padding: @navigation-padding;


// Links
@link-color: fade(white, 85);
@link-color-hover: white;
@link-external-color: fade(white, 85);
@link-external-hover-color: white;
@link-external-icon: true;
@link-external-icon-color: @link-external-color;
@link-external-hover-icon-color: @link-external-hover-color;


// Texts
@font-family-monospace: monospace;
@font-family-base: sans-serif;
@text-color: mix(white, @bg-color, 80%);
@text-muted: #707070;
@font-size-base: 14px;
@line-height-base: 1.428571429; // 20/14
@line-height-computed: floor((@font-size-base * @line-height-base)); // ~20px


// Layouts
@print-paper-width:21cm; // DIN-A4
@print-paper-height: 29.7cm; // DIN-A4
