<h3 translate>admin.newGame</h3>
<label for="gameid" translate>admin.gameName</label>
<input type="text" id="gameid" />
<label for="dateStart" translate>admin.dateStart</label>
<input type="date" id="dateStart" />
<label for="dateEnd" translate>admin.dateEnd</label>
<input type="date" id="dateEnd"/>
<button translate>admin.createGame</button>
<hr />
<!-- TODO iterate over all games -->
<h3>Spiel 1</h3>
<label for="userResend" translate>admin.resend</label>
<input type="text" id="userResend" />
<label for="userKill" translate>admin.kill</label>
<input type="text" id="userKill" />
