<button type="button" class="form-btn form-btn-success" ng-click="createGame()">
    <i class="fa fa-fw fa-plus"></i> {{'game.create.title' | translate}}
</button>

<table class="table table-striped" st-table="displayedGames" data-st-safe-src="games">
    <thead>
    <tr>
        <th st-sort="sort.state" class="fa-fw-2x" title="{{'game.state' | translate}}"><i
                class="fa fa-fw fa-circle text-warning"></i></th>
        <th st-sort="name" class="width-30" translate>game.name</th>
        <th st-sort="schedule.end" class="width-30" translate>game.schedule.end</th>
        <th st-sort="participants" class="width-20" translate>game.data</th>
        <th translate>table.actions</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="game in displayedGames" data-game-id="{{game._id}}">
        <td class="text-center">
            <span class="fa fa-fw"
                  ng-class="'text-' + (game.ended ? 'danger fa-stop' : game.active ? 'success fa-play' : game.started ? 'warning fa-pause' : 'info fa-circle')"></span>
        </td>
        <td ng-bind="game.name"></td>
        <td class="text-center" moment="game.schedule.end" data-moment-format="LLL"></td>
        <td class="text-mono flexbox">
            <div class="flex-50 text-center" title="{{'game.rings' | translate}}">
                {{game.rings.length}} <i class="fa fa-fw fa-link"></i>
            </div>
            <div class="flex-50 text-center" title="{{'game.participants' | translate}}">
                {{game.participants}} <i class="fa fa-fw fa-users"></i>
            </div>
        </td>
        <td class="text-center">
            <!-- TODO rework/create URL -->
            <a class="fa fa-fw fa-file-o" ng-href="/games/{{game._id}}" ng-if="game.started"></a>
            <!-- TODO rework/create URL -->
            <a class="fa fa-fw fa-book" ng-href="/acp/games/{{game._id}}/contracts" ng-if="game.started"></a>

            <!-- TODO rework/create URL -->
            <a class="fa fa-fw fa-edit" ng-href="/acp/games/{{game._id}}" ng-if="!game.ended"></a>

            <a class="fa fa-fw fa-pause" ng-click="pauseGame(game)" ng-if="game.started && game.active"></a>
            <a class="fa fa-fw fa-repeat" ng-click="resumeGame(game)"
               ng-if="game.started && !game.active && !game.ended"></a>

            <a class="fa fa-fw fa-lock" ng-click="lockGame(game)" ng-if="!game.started"></a>
            <a class="fa fa-fw fa-play" ng-click="startGame(game)" ng-if="!game.started"></a>

            <a class="fa fa-fw fa-stop" ng-class="stopGame(game)" ng-if="game.started && !game.ended"></a>
            <a class="fa fa-fw fa-trash-o" ng-click="removeGame(game)" ng-if="!game.started || game.ended"></a>
        </td>
    </tr>
    </tbody>
    <tfoot ng-show="games.length > 10">
    <tr>
        <td colspan="5" class="text-center">
            <div st-pagination="" data-st-items-by-page="10" data-st-displayed-pages="7"></div>
        </td>
    </tr>
    </tfoot>
</table>
