<form name="createForm" class="form" id="create-game" ng-submit="createGame()">
    <div class="panel">
        <h2 class="panel-heading" translate>game.create.title</h2>

        <div class="flexbox">
            <div class="flex-50 flex-no-shrink">
                <label for="game-id" class="control-label" translate>game.name</label>
                <input type="text" id="game-id" name="gameId" class="form-control" ng-model="newGame.name" required/>

                <label class="control-label">
                    <input type="checkbox" name="inviteOnly" ng-model="newGame.inviteOnly"/>
                    {{'game.limit.inviteOnly' | translate}}
                </label>

                <div ng-if="!newGame.inviteOnly">
                    <label for="game-passwords" class="control-label">
                        {{'game.passwords' | translate}}
                        <small>(<span ng-bind-html="'game.passwordsNote' | translate | html"></span>)</small>
                    </label>
                    <input type="text" id="game-passwords" name="gamePasswords" class="form-control"
                           ng-model="newGame.passwordsText"/>

                    <label for="game-participants" class="control-label">
                        {{'game.limit.participants' | translate}}
                        <small>({{'game.limit.empty' | translate}})</small>
                    </label>
                    <input type="number" id="game-participants" name="gameParticipants" class="form-control"
                           ng-model="newGame.limit.participants" min="2"
                           ng-valid="newGame.limit.participants != null || newGame.limit.invitedParticipants == null"/>
                </div>

                <label for="game-invited-participants" class="control-label">
                    {{'game.limit.invitedParticipants' | translate}}
                    <small>({{'game.limit.empty' | translate}})</small>
                </label>
                <input type="number" id="game-invited-participants" name="gameInvitedParticipants" class="form-control"
                       ng-model="newGame.limit.invitedParticipants"
                       min="{{newGame.inviteOnly ? 2 : newGame.limit.participants}}"/>

                <label for="game-rings" class="control-label" translate>game.startMeta.rings</label>
                <input type="number" id="game-rings" name="gameRings" class="form-control"
                       ng-model="newGame.startMeta.rings" min="1" required/>

                <label for="game-lives" class="control-label" translate>game.startMeta.lives</label>
                <input type="number" id="game-lives" name="gameLives" class="form-control"
                       ng-model="newGame.startMeta.lives" min="1" max="{{newGame.startMeta.rings}}" required/>

                <label for="game-end" class="control-label" translate>game.schedule.end</label>
                <input type="datetime-local" id="game-end" name="gameEnd" class="form-control"
                       ng-model="newGame.schedule.end" required/>

                <label for="game-start" class="control-label">
                    {{'game.schedule.start' | translate}}
                    <small>({{'game.schedule.empty' | translate}})</small>
                </label>
                <input type="datetime-local" id="game-start" name="gameStart" class="form-control"
                       ng-model="newGame.schedule.start"/>

                <!-- TODO show validation error reasons (only non-obvious ones) -->
            </div>
            <div class="flex-50 flex-no-shrink">
                <label for="groups" class="control-label" translate>group.titlePlural</label>
                <ol class="list-group" id="groups">
                    <li class="list-group-item list-group-item-info" ng-repeat="groupData in newGame.groups"
                        ng-init="group = groups[groupData.group];">
                        <div class="flexbox">
                            <strong ng-bind="group.name" title="{{group.description}}"></strong>
                            <div class="text-right width-30">
                                <a ng-click="moveDown(newGame.groups, $index)" ng-if="!$last"><i
                                        class="fa fa-fw fa-angle-down"></i></a>
                                <a ng-click="moveUp(newGame.groups, $index)" ng-if="!$first"><i
                                        class="fa fa-fw fa-angle-up"></i></a>
                                <i class="fa fa-fw" ng-if="$first"></i>
                                <a ng-click="remove(newGame.groups, $index)"><i class="fa fa-fw fa-minus"></i></a>
                            </div>
                        </div>
                    </li>
                </ol>
                <ol class="list-group groups">
                    <li class="list-group-item" ng-repeat="group in groupsList"
                        ng-if="!containsGroup(newGame.groups, group)">
                        <div class="flexbox">
                            <strong ng-bind="group.name" title="{{group.description}}"></strong>
                            <div class="text-right width-10">
                                <a ng-click="addGroup(newGame.groups, group)"><i class="fa fa-fw fa-plus"></i></a>
                            </div>
                        </div>
                    </li>
                </ol>
            </div>
        </div>

        <label for="game-description" class="control-label">
            {{'game.description' | translate}}
            <a class="pull-right" ng-click="markdownModal(newGame.description)" ng-show="newGame.description">
                <i class="fa fa-image"></i>
            </a>
        </label>
        <!-- TODO add notice that markdown is being used -->
        <textarea class="form-control" id="game-description" ng-model="newGame.description"></textarea>

        <input type="submit" class="form-btn" ng-value="'game.create.submit' | translate" translate/>
    </div>
</form>

<ol class="list-group game-list">
    <li class="list-group-item" ng-repeat="game in games" ng-class="{'list-group-item-info': game.active}">
        <div class="game-active">
            <label>
                <input type="checkbox" ng-model="game.active" ng-click="toggleActive(game)"/>
                <span class="text-mono" translate>game.active</span>
            </label>
        </div>
        <div class="game-name"><a ng-href="/acp/games/{{game._id}}" ng-bind="game.name"></a><br/></div>
        <div class="game-participants">
            {{'game.participants' | translate}}: <span class="text-mono" ng-bind="game.participants.length"></span>
        </div>
        <div class="clearfix"></div>

        <hr/>

        <div ng-repeat="ring in game.rings" class="game-ring">
            <hr ng-if="!$first"/>
            <b class="text-mono">{{'game.ring' | translate}} #{{$index}}</b>

            <div>
                <b class="text-mono" ng-bind="ring.active.length"></b>
                {{'game.active.remaining' | translate}}
                <small class="text-mono" ng-if="game.participants.length">({{(ring.active.length /
                    game.participants.length * 10000 | math:'round') / 100}}%)
                </small>
            </div>
        </div>
    </li>
</ol>
