<form name="createForm" class="form" id="create-game" ng-submit="createGame()">
    <div class="panel">
        <h2 class="panel-heading" translate>game.create.title</h2>

        <div class="flexbox">
            <div class="flex-50 flex-no-shrink">
                <label for="game-id" class="control-label" translate>game.name</label>
                <input type="text" id="game-id" name="gameId" class="form-control" ng-model="newGame.name" required/>
                <label for="game-description" class="control-label">
                    {{'game.description' | translate}}
                    <a class="pull-right" ng-click="markdownModal(newGame.description)" ng-show="newGame.description">
                        <i class="fa fa-image"></i>
                    </a>
                </label>
                <!-- TODO add notice that markdown is being used -->
                <textarea class="form-control" id="game-description" ng-model="newGame.description"></textarea>
            </div>
            <div class="flex-50 flex-no-shrink">
                <label for="groups" class="control-label" translate>group.titlePlural</label>
                <ol class="list-group" id="groups">
                    <li class="list-group-item list-group-item-info" ng-repeat="groupData in newGame.groups"
                        ng-init="group = groups[groupData.group];">
                        <div class="flexbox">
                            <strong ng-bind="group.name" title="{{group.description}}"></strong>
                            <div class="text-right width-30">
                                <a ng-click="moveDown(newGame.groups, $index)" ng-if="!$last"><i
                                        class="fa fa-fw fa-angle-down"></i></a>
                                <a ng-click="moveUp(newGame.groups, $index)" ng-if="!$first"><i
                                        class="fa fa-fw fa-angle-up"></i></a>
                                <i class="fa fa-fw" ng-if="$first"></i>
                                <a ng-click="remove(newGame.groups, $index)"><i class="fa fa-fw fa-minus"></i></a>
                            </div>
                        </div>
                    </li>
                </ol>
                <ol class="list-group groups">
                    <li class="list-group-item" ng-repeat="group in groupsList"
                        ng-if="!containsGroup(newGame.groups, group)">
                        <div class="flexbox">
                            <strong ng-bind="group.name" title="{{group.description}}"></strong>
                            <div class="text-right width-10">
                                <a ng-click="addGroup(newGame.groups, group)"><i class="fa fa-fw fa-plus"></i></a>
                            </div>
                        </div>
                    </li>
                </ol>
            </div>
        </div>

        <input type="submit" class="form-btn" ng-value="'game.create.submit' | translate" translate/>
    </div>
</form>

<ol class="list-group game-list">
    <li class="list-group-item" ng-repeat="game in games" ng-class="{'list-group-item-info': game.active}">
        <div class="game-active">
            <label>
                <input type="checkbox" ng-model="game.active" ng-click="toggleActive(game)"/>
                <span class="text-mono" translate>game.active</span>
            </label>
        </div>
        <div class="game-name"><a ng-href="/acp/games/{{game._id}}" ng-bind="game.name"></a><br/></div>
        <div class="game-participants">
            {{'game.participants' | translate}}: <span class="text-mono" ng-bind="game.participants.length"></span>
        </div>
        <div class="clearfix"></div>

        <hr/>

        <div ng-repeat="ring in game.rings" class="game-ring">
            <hr ng-if="!$first"/>
            <b class="text-mono">{{'game.ring' | translate}} #{{$index}}</b>

            <div>
                <b class="text-mono" ng-bind="ring.active.length"></b>
                {{'game.active.remaining' | translate}}
                <small class="text-mono" ng-if="game.participants.length">({{(ring.active.length /
                    game.participants.length * 10000 | math:'round') / 100}}%)
                </small>
            </div>
        </div>
    </li>
</ol>
