<form name="addGroup" class="form-horizontal" ng-submit="createGroup()">
    <h3 translate>group.create.title</h3>

    <label for="group-name" class="control-label" translate>group.name</label>
    <input type="text" name="name" id="group-name" class="form-control" ng-model="newGroup.name" required/>
    <label for="group-description" class="control-label" translate>group.description</label>
    <input name="description" id="group-description" class="form-control" ng-model="newGroup.description"/>
    <input type="submit" class="form-btn" ng-value="'group.create.submit' | translate" translate>
</form>

<hr/>

<table id="groups-list">
    <thead>
    <tr>
        <th translate>group.name</th>
        <th translate>group.description</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="group in groups" data-group-id="{{group._id}}">
        <td class="group-name">
            <span ng-if="!group.editing" ng-bind="group.name"></span>
            <!--suppress HtmlFormInputWithoutLabel -->
            <input type="text" ng-if="group.editing" ng-model="group.name"/>
        </td>
        <td class="group-description">
            <span ng-if="!group.editing" ng-bind="group.description"></span>
            <!--suppress HtmlFormInputWithoutLabel -->
            <input type="text" ng-if="group.editing" ng-model="group.description"/>
        </td>
        <td class="group-actions">
            <span ng-if="!group.saving">
                <span ng-if="!group.editing">
                    <a class="fa fa-fw fa-edit" ng-click="editGroup(group)"></a>
                    <a class="fa fa-fw fa-trash-o" ng-click="removeGroup(group)"></a>
                </span>
                <span ng-if="group.editing">
                    <a class="fa fa-fw fa-undo" ng-click="revertGroup(group)"></a>
                    <a class="fa fa-fw fa-save" ng-click="saveGroup(group)"></a>
                </span>
            </span>
            <span ng-if="group.saving"><i class="fa fa-fw fa-spin fa-spinner"></i></span>
        </td>
    </tr>
    </tbody>
</table>