<style type="text/css" media="print">
    body {
        background-color: white;
    }

    nav, #language-selector, #identity {
        display: none;
    }

    #container {
        padding: 0;
    }
</style>

<!-- TODO send all contracts to admin -->
<!-- TODO feedback if no active contracts (incl. reason for this) -->
<!-- FIXME empty contract (no target?) -->
<!-- FIXME using $index for Ring ID is wrong if no contract within previous ring(s) -->

<div class="dina4" ng-repeat="ring in rings" data-ring-index="{{ring.ring}}">
    <div class="contract">
        <h3>murderer.js &ndash; Node.js implementation of M&ouml;rderspiel</h3>

        <h1 class="wanted">
            <i class="fa fa-fw fa-crosshairs"></i>
            WANTED
            <i class="fa fa-fw fa-crosshairs"></i>
        </h1>

        <h2 data-user-id="{{ring.mission._id}}">
            <span class="target" ng-bind="ring.mission.username"></span>
        </h2>
        <img class="portrait" src="/img/pirate_draft.png" alt="image"/>

        <div class="message">
            <div ng-if="ring.mission.profileMessage">
                <i class="fa fa-fw fa-quote-left"></i>
                {{ring.mission.profileMessage}}
                <i class="fa fa-fw fa-quote-right"></i>
            </div>
            <div ng-if="!ring.mission.profileMessage">
                <i class="fa fa-fw fa-ellipsis-h"></i>
            </div>
        </div>
        <div class="flexbox">
            <div class="details text-mono">{{game.name}} - {{'game.ring' | translate}} #{{ring.ring}}</div>
            <div class="details">
                Token für deinen Mörder:<br/>
                &dagger;<span class="text-mono text-bold token" ng-bind="ring.token"></span>&dagger;
            </div>
        </div>
    </div>
    <div class="public">
        <div class="flexbox">
            <div class="details">
                <h3>Mordauftrag für</h3>

                <h2>
                    <span class="recipient">{{identity.group}} &ndash; <span ng-bind="identity.username"></span></span>
                </h2>
                <h4 class="text-mono">{{game.name}} - {{'game.ring' | translate}} #{{ring.ring}}</h4>
                <small class="text-mono">Spiel endet am 22.10.2015 ~14:00</small>
            </div>
            <div class="details">
                <img src="/logo.svg" alt="murderer.js" class="cover"/>

                <div class="attributions text-mono">created by<br/>Ole Reglitzki<br/>and Felix Schelle</div>
            </div>
        </div>
    </div>
</div>
