<div ng-repeat="game in games" data-game-id="{{game._id}}" class="game-contracts" ng-class="{inactive: !game.active}">
    <div ng-repeat="contract in game.contracts" data-ring-id="{{contract.ringId}}"
         ng-init="data = {ring: $index + 1, game: game, details: contract}">
        <div ng-if="!contract.present" class="not-present">
            <div ng-if="!contract.resolved" class="ring-status not-resolved">
                <i class="fa fa-fw fa-circle-o-notch"></i>
                <span ng-bind-html="'contract.notPresent.running' | translate:data | html"></span>
                <i class="fa fa-fw fa-circle-o-notch"></i>
            </div>

            <div ng-if="contract.resolved" class="resolved">
                <div ng-if="contract.survivor != null" class="ring-status survivor"
                     data-survivor-id="{{contract.survivor._id}}">
                    <i class="fa fa-fw fa-circle-o-notch"></i>
                    <span ng-bind-html="'contract.notPresent.survivor' | translate:data | html"></span>
                    <i class="fa fa-fw fa-circle-o-notch"></i>
                </div>

                <div ng-if="contract.survivor == null" class="ring-status no-survivor">
                    <i class="fa fa-fw fa-circle-o-notch"></i>
                    <span ng-bind-html="'contract.notPresent.resolved' | translate:data | html"></span>
                    <i class="fa fa-fw fa-circle-o-notch"></i>
                </div>
            </div>
        </div>

        <div ng-if="contract.present" class="present">
            <div ng-if="contract.resolved" class="resolved">
                <div ng-if="contract.survived" class="ring-status survived">
                    <i class="fa fa-fw fa-circle-o-notch"></i>
                    <span ng-bind-html="'contract.present.survived' | translate:data | html"></span>
                    <i class="fa fa-fw fa-circle-o-notch"></i>
                </div>
                <div ng-if="!contract.survived" class="not-survived">
                    <div ng-if="contract.survivor != null" class="ring-status survivor">
                        <i class="fa fa-fw fa-circle-o-notch"></i>
                        <span ng-bind-html="'contract.present.survivor' | translate:data | html"></span>
                        <i class="fa fa-fw fa-circle-o-notch"></i>
                    </div>
                    <div ng-if="contract.survivor == null" class="ring-status no-survivor">
                        <i class="fa fa-fw fa-circle-o-notch"></i>
                        <span ng-bind-html="'contract.present.resolved' | translate:data | html"></span>
                        <i class="fa fa-fw fa-circle-o-notch"></i>
                    </div>
                </div>
            </div>
            <div ng-if="!contract.resolved" class="not-resolved">
                <div ng-if="contract.dead" class="ring-status dead">
                    <i class="fa fa-fw fa-circle-o-notch"></i>
                    <span ng-bind-html="'contract.present.dead' | translate:data | html"></span>
                    <i class="fa fa-fw fa-circle-o-notch"></i>
                </div>
                <div ng-if="!contract.dead" class="contract not-dead" contract="data" data-murderer="identity">
                    <!-- Only in this case an actual contract is shown -->
                </div>
            </div>
        </div>
    </div>
</div>