<!-- TODO ng-repeat and get data -->
<div class="dina4">
    <div class="contract">
        <h3>Toller Text murderer.js</h3>
        <h1>WANTED</h1>
        <h2>opfer.name</h2>
        <img class="portrait" src="http://cdn.dota2.com/apps/dota2/images/abilities/bounty_hunter_wind_walk_hp1.png" alt="image" />
        <div class="message">custom message</div>
        <div class="flexbox">
            <div class="details">game.name - Kreis</div>
            <div class="details">
                Token für deinen Mörder:<br />
                <span class="text-mono text-bold">game.user.kreis.code</span>
            </div>
        </div>
    </div>
    <div class="public">
        <div class="flexbox">
            <div class="details">
                <h3>Mordauftrag für</h3>
                <h2>user.name</h2>
                <h4>game.name - kreis</h4>
            </div>
            <div class="details">
                <img src="/logo.svg" alt="murderer.js" class="cover" />
                <div class="attributions text-mono">created by<br />Ole Reglitzki<br />and Felix Schelle</div>
            </div>
        </div>
    </div>
</div>